.navBox.mobile{
    position: absolute; 
    top: 100px; 
    left: 0; 
    z-index: 5; 
    width: 100vw; 
    height: 100vh; 
    font-size: var(--fs-normal); 
}

.navBox.desktop{
    width: 100%; 
}
.navBox.desktop .innerBox{
    justify-content: space-between;
}
.navBox .innerBox{
    display: flex;  
}
.navBox.mobile .innerBox{
    background-color: var(--c-violet); 
    width: 20rem; 
    margin: 0 auto; 
    color: #fff;
    border-radius: 5px; 
    flex-direction: column;
    font-weight: 700; 
    padding: 2rem 1rem; 
    gap: 1.5rem; 
}

.nav{
    list-style-type: none;
    padding: 0; 
    margin: 0; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 1.5rem; 
}

.nav li, .login{
    cursor: pointer; 

}

.nav li:hover, .login:hover{
scale: 1.1; 
}

.buttonsBox{
    display: flex; 
    flex-direction: column; 
    gap: 1.5rem; 
    text-align: center; 
}

.separator{
    width: 100%; 
    height: .01rem; 
    background-color: hsla(257, 27%, 40%, .8); 
}


@media (min-width: 750px) {
    .nav{
        flex-direction: row; 
    }

    .buttonsBox{
        flex-direction: row; 
        align-items: center; 
    }

    .nav li, .login{
        font-weight: 700; 
        color: var(--c-n500); 
    }

    .nav li:hover, .login:hover{
        scale: 1; 
        color: var(--c-n700); 
    }
}