.box {
  background-color: var(--c-violet);
  border-radius: 5px;
  padding: 1.5rem;
  position: relative; 
  translate: 0 -40%; 
  overflow: hidden;
 
}

.box > *{
  position: relative;
  z-index: 5;
}
.inputBox{
    position: relative; 
}
.input {
  padding: 0.8rem 1rem;
  width: 100%;
  border-radius: 5px;
  border: 0;
  font-size: 1.1rem;
  margin-bottom: 1rem; 
}
.input::placeholder {
  color: var(--c-n400);
}
.input:focus-visible {
  outline: 0;
}

.invalid{
    margin-bottom: 2.5rem; 
    border: solid 3px var(--c-red); 
}

.invalid::placeholder{
    color: hsl(0, 87%, 80%); 
}

.invalidMsg{
    position: absolute; 
    left: 0; 
    bottom: 10px;  
    color: var(--c-red); 
    font-style: italic;
    font-size: .9rem; 
}
.accent {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1
}

@media (min-width: 750px) {
  .box{
    display: flex; 
    align-items: center;
    margin: 0 auto; 
    gap: 1rem; 
    padding: 3rem
  }
  .inputBox{
    flex-grow: 1; 
  }
  .input{
    margin: 0; 
  }

  .accent{
    left: 0; 
    width: 100%; 
    height: 100%; 
  }

  .invalidMsg{
    bottom: -30px; 
    left: 16px; 
  }
}