.navBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 3rem; 
  margin: 3rem 0; 
}

.section {
  text-align: center;
}
.title {
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1.3rem; 
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: var(--c-n400);
  font-size: var(--fs-normal);
}

.nav li {
  cursor: pointer;
}

.nav li:hover{
    color: var(--c-cyan); 
}

@media (min-width: 750px) {

  .navBox {
    flex-direction: row;
    gap: 8rem;
    margin: 0; 
    align-items: flex-start; 
    width: auto; 
  }

  .section{
    text-align: left; 
  }
}
